:root {
    --background: hsl(36deg 7 87);
    --black: hsl(0deg 0 13);
    --width: 50em;
}

::selection {
    background: Highlight;
    color: HighlightText;
    text-shadow: none;
}

body {
    font-family: "Radio Canada", sans-serif;
    font-optical-sizing: auto;
    background: var(--background);
    color: var(--black);
    min-height: 93vh;
    counter-reset: sidenote-counter;
    max-width: var(--width);
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 1.618;
    padding-left: 1.618%;
    padding-right: 1.618%;
}

h3 {
    padding-left: 0.1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border: 2px solid;
    border-radius: 4px;
    box-shadow: 2px 2px 0 0 var(--black);
    border-color: var(--black);
    color: var(--black);
    text-shadow: 1px 1px 0px var(--shadow-color);
}

.red {
    --red: hsl(353deg 72 44);
    --shadow-color: hsl(353deg 72 34);
    background: var(--red);
    color: white;
}

.blue {
    --blue: hsl(217deg 74 32);
    --shadow-color: hsl(217deg 74 22);
    background: var(--blue);
    color: white;
    
}

.green {
    --green: hsl(158deg 100 24);
    --shadow-color: hsl(158deg 100 14);
    background: var(--green);
    color: white;
}

.yellow {
    --yellow: hsl(43deg 100 50);
    --shadow-color: hsl(43deg 100 40);
    background: var(--yellow);
    color: var(--black);
}

a {
  --shadow-color: hsl(36deg 7 77);
  flex: 1;
  outline-color: transparent;
  text-align: center;
  line-height: 2;
  color: var(--black);
  border: 2px dashed #0000;
  font-weight: bold;
  text-shadow: 1px 1px 0px var(--shadow-color);
}

a:hover {
    --shadow-color: hsl(0deg 0 3);
    border-radius: 4px;
    background: var(--black);
    color: white;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

pre, code {
    font-family: "Roboto mono", monospace
}

.me {
    --shadow-color: hsl(0deg 0 3);
    border-radius: 4px;
    background: var(--black);
    color: white;
    text-decoration: none;
}

.highlight {
    padding-left: 0.5em;
    border-radius: 4px;
    border: 2px solid;
    box-shadow: 2px 2px 0 0 var(--black);
    overflow: auto;
}

.highlightraw {
    background: #FFFFFF;
    padding-left: .1em;
    padding-right: .1em;
    border-radius: 4px;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -24em;
    margin-top: 0.3rem;
    margin-bottom: 0;
    width: 20em;
    position: relative;
    border: 2px solid;
    box-shadow: 2px 2px 0 0 var(--black);
    border-radius: 4px;
    padding-left: 0.3em;
    padding-right: 0.3em;
    word-wrap: break-word;
}

.marginnote:before {
    content: "\235D  ";
}

input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline-block;
    max-height: 2em;
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    position: relative;
    

}

.sidenote-number:after {
    content: counter(sidenote-counter);
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
}

.sidenote:before, .marginnote:before {
    border-bottom: solid;
    display: inherit;
}

/* before mobile fallback: */
@media (max-width: calc(50em/*width*/ + 24em/*sidenote margin right*/ + 20em/*sidenote width*/ + 4em/*sidenote border radius*/ + 1em/*one extra*/)) {
    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .marginnote {
        display: block;
        float: left;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        position: relative;
    }

    label.sidenote-number {
        text-decoration: underline;
    }
}
