:root {
    --background: #e0dedb;/*#e8d1b3;*/
    --black: #212121;
    --red: #c11f32;
    --blue: #174897;
    --green: #00784c;
    --yellow: #FFB700;
    --width: 50em;
}

body {
    font-family: "Radio Canada", sans-serif;
    font-optical-sizing: auto;
    background: var(--background);
    color: var(--black);
    min-height: 93vh;
    counter-reset: sidenote-counter;
    max-width: var(--width);
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 1.618;
    padding-left: 1.618%;
    padding-right: 1.618%;
}

h3 {
    padding-left: 0.1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border: 2px solid;
    border-radius: 4px;
    box-shadow: 2px 2px 0 0 var(--black);
    border-color: var(--black);
    color: var(--black);
}

.red {
    background: var(--red);
    color: white;
}

.blue {
    background: var(--blue);
    color: white;
}

.green {
    background: var(--green);
    color: white;
}

.yellow {
    background: var(--yellow);
    color: var(--black);
}

a {
  flex: 1;
  outline-color: transparent;
  text-align: center;
  line-height: 2;
  color: var(--black);
  border: 2px dashed #0000;
  font-weight: bold;
}

a:hover {
    border-radius: 4px;
    background: var(--black);
    color: white;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

pre, code {
    font-family: "Roboto mono", monospace
}

.me {
    border-radius: 4px;
    background: var(--black);
    color: white;
    text-decoration: none;
}

.highlight {
    padding-left: 0.5em;
    border-radius: 4px;
    border: 2px solid;
    box-shadow: 2px 2px 0 0 var(--black);
    overflow: auto;
}

.highlightraw {
    background: #FFFFFF;
    padding-left: .1em;
    padding-right: .1em;
    border-radius: 4px;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -24em;
    margin-top: 0.3rem;
    margin-bottom: 0;
    width: 20em;
    position: relative;
    border: 2px solid;
    box-shadow: 2px 2px 0 0 var(--black);
    border-radius: 4px;
    padding-left: 0.3em;
    padding-right: 0.3em;
    word-wrap: break-word;
}

.marginnote:before {
    content: "\235D  ";
}

input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline-block;
    max-height: 2em;
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    position: relative;
    

}

.sidenote-number:after {
    content: counter(sidenote-counter);
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
}

.sidenote:before, .marginnote:before {
    border-bottom: solid;
    display: inherit;
}

/* before mobile fallback: */
@media (max-width: 98em) { /* 98em == 50em + 24em + 20em + 4em (see .sidenote)*/
    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .marginnote {
        display: block;
        float: left;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        position: relative;
    }

    label.sidenote-number {
        text-decoration: underline;
    }
}
